<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HS - Item {{id}}</title>
  <meta name="description" content="HTML representation of resource {{id}}">
  <meta name="author" content="Hyperset">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>



</body>

</html>