<!DOCTYPE html>
<html>
	<head>
		<title>{{name}} application</title>
	</head>
	<body>
		<h1><a href="{{appUrl}}">{{name}}</a></h1>
		<h2>Application</h2>
		<h3>Collections</h3>
{{#permissions.addCollection}}
		<form action="{{appUrl}}" method="POST">
			<label for="collectionName">Name</label>
			<input name="collectionName" />
			<input type="submit" value="Add collection" />
		</form>
{{/permissions.addCollection}}
{{#permissions.listCollections}}
		<a href="{{first-page-collections-url}}">Collections</a>
{{/permissions.listCollections}}
	</body>
</html>