<!DOCTYPE html>
<html>
	<head>
		<title>{{name}} application</title>
	</head>
	<body>
		<ul>
			{{#collections}}
			<li><a href="{{{href}}}">{{name}}</a></li>
			{{/collections}}
		</ul>
	</body>
</html>