<!DOCTYPE html>
<html>
    <head>
        <title>{{app.name}} {{itemId}} item</title>
    </head>
    <body>
        <h1><a href="{{app.appUrl}}">{{app.name}}</a></h1>
        <h2><a href="{{collection.url}}">{{collection.name}}</a></h2>
        <h3><a href="{{url}}">{{id}}</a></h3>
        <form action="{{upsert-url}}" method="POST">
        	<label for="content">{{form-description}}</label>
        	<textarea name="content">{{content}}</textarea>
        	<input type="submit" value="{{form-submit-action}}" />
        </form>
    </body>
</html>