{

	"name": "{{name}}",

	"links": [

		{

			"rel": "self",
			"href": "{{{appUrl}}}",
			"name": "{{name}}",
			"type": "application/vnd.hyperset.application+json"

		}

	{{#permissions.addCollection}}
		, {

			"rel": "add-collection",
			"href": "{{{appUrl}}}",
			"name": "Add collection",
			"type": "application/vnd.hyperset.collection+json",
			"verbs": [ "POST" ]

		}

	{{/permissions.addCollection}}
	{{#permissions.listCollections}}
		, {

			"rel": "list-collections",
			"href": "",
			"name": "List collections",
			"type": "application/vnd.hyperset.collection-list+json"

		}

	{{/permissions.listCollections}}
	]

}